html, body {
  background-color: #A1C3D1;
  color: #F0EBF4;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.3px;
}

.header {
  padding-right: 15px;
  padding-left: 15px;
}

.navigation {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li :first-child {
  padding-left:  0px;
}
.navigation a {
  padding: 10px 40px;
  margin: 0 10px;
}

@media (max-width: 768px){
  .navigation a  {
    font-size: 16px;
    margin: 0;
  }

}
.content {
  padding: 20px;
  margin-left: auto;
	margin-right: auto;
  max-width: 800px;
}

a:link, a:visited {
  color: #E64398;
  text-decoration: none;
}
a:hover, a:active {
  color: #E64398;
  text-decoration: underline;
}

.footer {
  text-align: center;
  padding: 20px;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}
.wrapper {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
